* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.todo__list-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(252, 211, 136);
}

.todo__list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo__list-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: rgb(10, 73, 73);
  padding: 1rem 0;
}

.todo__list-content input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(10, 73, 73);
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(10, 73, 73);
  margin: 1rem 0;
  text-transform: capitalize;
}

.todo__list-content button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  outline: none;
  border: none;
  background: rgb(10, 73, 73);
  padding: 0.5rem 3rem;
  color: white;
  cursor: pointer;
}

.todo__list-content ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 3rem 0;
}

.todo__list-content ul li p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(10, 73, 73);
  text-transform: capitalize;
  padding-right: 1rem;
}

.todo__list-content ul li button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  background: rgb(10, 73, 73);
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}